#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--<springProperty scope="context" name="logstashHost" source="logstash.host" defaultValue="localhost"/>-->

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--<appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        &lt;!&ndash;<destination>localhost:5000</destination>&ndash;&gt;
        <destination>${symbol_dollar}{logstashHost}:5000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/> &lt;!&ndash; MDC variables on the Thread will be written as JSON fields&ndash;&gt;
                <context/> &lt;!&ndash;Outputs entries from logback's context &ndash;&gt;
                <version/> &lt;!&ndash; Logstash json format version, the @version field in the output&ndash;&gt;
                <logLevel/>
                <loggerName/>

                <pattern>
                    <pattern>
                        {
                        &lt;!&ndash; we can add some custom fields to be sent with all the log entries.&ndash;&gt;
                        &lt;!&ndash;make filtering easier in Logstash&ndash;&gt;
                        "app-name": "${artifactId}",
                        "app-version": "1.0"
                        }
                    </pattern>
                </pattern>

                <threadName/>
                <message/>

                <logstashMarkers/> &lt;!&ndash; Useful so we can add extra information for specific log lines as Markers&ndash;&gt;
                <arguments/> &lt;!&ndash;or through StructuredArguments&ndash;&gt;

                <stackTrace/>
            </providers>
        </encoder>
    </appender>-->

    <springProfile name="docker">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <!--<appender-ref ref="stash"/>-->
        </root>
    </springProfile>
    <springProfile name="!docker">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="org.springframework" level="INFO"/>
    <logger name="${groupId}" level="DEBUG"/>
</configuration>
